<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #7D4698FF" role="navigation">
  <div class="container">
    <header class="navbar-header">
      <a routerLink="home" class="navbar-brand">OnionShop</a>
    </header>

    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#toggleMobileMenu"
            aria-controls="toggleMobileMenu"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="toggleMobileMenu">
      <ul class="nav navbar-nav ms-auto text-center">
        <li class="nav-item">
          <a routerLink="home" class="nav-link" routerLinkActive="active">Home</a>
        </li>

        <li class="nav-item">
          <a routerLink="products" class="nav-link" routerLinkActive="active">Products</a>
        </li>

        <li class="nav-item">
          <a routerLink="shopping-cart" class="nav-link" routerLinkActive="active">Shopping Cart</a>
        </li>

        <div [ngSwitch]="this.userService.user !== this.userService.user.emptyUser">
          <li class="nav-item">
            <a *ngSwitchCase="false" routerLink="login" class="nav-link raised" routerLinkActive="active">Login</a>
          </li>

          <li class="nav-item">
            <a *ngSwitchCase="true" routerLink="account" class="nav-link raised" routerLinkActive="active">Account</a>
          </li>
        </div>
      </ul>
    </div>

  </div>
</nav>
