@import "../../../../styles";

form {
  max-width: 480px;
  margin: auto;
}

.form-button {
  @include default-button-raised;
  color: $primary !important;
  background-color: #633e7d !important;
  border-color: #633e7d;
}

.form-button:hover {
  @include default-button;
}

@media only screen and (max-width: 480px) {
  form {
    max-width: 95vw;
  }
}
